<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../csslib/bootstrap.css" >
    
    <link rel="stylesheet" href="../css/index.css" >


    <!-- JBootstrap Js Dependencies-->
    <script src="jslib/jquery-3.3.1.slim.js" ></script>
    <script src="jslib/popper.js" ></script>
    <script src="jslib/bootstrap.js" ></script>

     <!-- JBootstrap Js Dependencies-->
    <script src="../jslib/angular.js"></script>

    <script src="../js/index.js" ></script>    
    <title>tailf</title>

    <link rel="icon" href="../img/tailf.png" type="image/gif" sizes="16x16">

  </head>
  <body ng-app="myApp">
  <div ng-controller="myCtrl" class="myContainer">
   
	{{helloWorld}}
    
  </div>
  </body>
</html>
